{% extends "base.html" %}
{% load wagtailcore_tags  wagtailimages_tags %}
{% load static %}

{% block body_class %}template-postpage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}
   
    <div class="container">
        {% if tag %}
            <div class="row">
                <div class="col-md-12">
                    <p>Viewing all blog posts by <span class="outline">{{ tag }}</span></p>
                </div>
            </div>
        {% endif %}

        {% if categories %}
            <div class="row">
                <div class="col-md-12">
                    <p>Viewing all blog posts by <span class="outline">{{ categories }}</span></p>
                </div>
            </div>
        {% endif %}

        {% if posts %}
            {%  for product in posts  %}
                {% if forloop.counter0|divisibleby:4 %} <div class="row text-center"> {%  endif %}
                    <div class="col-xl-3">
                        <a href="{{ product.url }}" id="detail-card"> 
                        <div class="card">
                        {% for photo in product.gallery_images.all %} 
                            {% if forloop.counter == 1 %} 
                                {% image photo.image fill-255x245 class='img-fluid' %}
                            {% endif %}
                        {% empty %}
                            <img class="img-fluid" src="http://placehold.it/245" alt=""/> 
                        {% endfor %}
                            <span class="badge badge-dark" id="price-badge">{{ product.price }}</span>
        
                            <div class="card-content" id="product-details">
                                <hr>
                                <b><p>{{ product.title }} </p></b>
                                <small>{{ product.location }} {{ product.latest_revision_created_at | timesince }}</small>
                                <br>
                            </div><!-- card content -->
                        </div><!-- card -->
                    </a><!-- link -->
                    </div><!-- col-xl-4 -->
                {%  if forloop.counter|divisibleby:4 or forloop.last %}</div><br><!-- row closing -->{%  endif %}
            {%  endfor %}
        {% else %}
            <div class="col-md-12">
                <p>Oh, snap. Looks like we were too busy baking to write any posts. Sorry.</p>
            </div>
        {% endif %}
    </div>

{% endblock content %}
